body {
  margin: 0px;
  font-family: helvetica, arial, sans-serif;
}

li {
  list-style: none;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
