.left-navigation {
  margin: 8px;
  width: 20%;
  height: 100%;
}

.newsfeed {
  margin: 8px;
  width: 80%;
}

.home-page-container {
  margin: 0px;
  background-color: #E9EBEE;
}

.people-nav {
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 1px black solid;
}

.people-navigation {
  max-width: 400px;
  margin-right: 20px;
  margin-top: 10px;
}

.people-nav-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
