body {
  margin: 0px;
  font-family: helvetica, arial, sans-serif;
}

li {
  list-style: none;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.max-width {
  width: 400px;
}

.low-width {
  width: 325px;
}

/*.addfriend {
  z-index: -1;
  position: absolute;
}*/
